extends layout

block content
    if commits
        div.main__title Commits
        div.commits.main__block
            table.commits__table
                thead
                    tr
                        th Commit
                        th Author
                        th Date
                        th Comment
                each commit in commits
                    tr
                        td
                            a(href=commit.commit)= commit.commit
                        td= commit.author
                        td= commit.date
                        td= commit.comment
    div.main__title Files
    div.files.main__block
        each file in files
            div= file


